*~
.deps
.dirstamp
*.o
*.a
Makefile.in
Makefile

/ChangeLog
/VERSION
/NEWS
/TODO
/AUTHORS

/.version
/.tarball-version

/TAGS
/aclocal.m4
/autom4te.cache

/configure
/config.log
/config.status

/src/blink
/src/system.map
/src/config.h
/src/config.h.in
/src/stamp-h1
/src/multiboot/x86/linker.ld

/docs/info/blink.info

/tools/maint/fetch
/tools/maint/wordwrap-detect
/tools/maint/whitespace-detect
/tools/maint/gitlog-to-committers
/tools/maint/gittag-to-date
/.releases
/tools/maint/releases-to-news
/tools/maint/guards-check

/tools/autotools/compile
/tools/autotools/config.guess
/tools/autotools/config.sub
/tools/autotools/depcomp
/tools/autotools/install-sh
/tools/autotools/mdate-sh
/tools/autotools/missing
/tools/autotools/mkinstalldirs
/tools/autotools/texinfo.tex
/tools/autotools/ylwrap

/site/in/.sitetool
/site/in/site.stamp
/site/in/todos.sxml
/site/in/todos.dump
/site/in/news.sxml
/site/in/news.dump
/site/out/*
